h1{
    color: #1d3557;
}

ul{
    /* Se quitan los puntos */
    list-style-type: none;
    background-color: #457b9d;
    /* Para dar espacio a las listas */
    overflow: hidden;
    margin: 0;
    padding: 0;
}
li{
    /* Alinear a la izquierda */
    float: left;
}
li a{
    display: block;
    color:white;
    text-align: center;
    padding: 15px;
    text-decoration: none;
}

li a:hover{
    background-color: #1d3557;
}