/* Valores que van a aplicar en toda la pagina html */
*{
    margin: 0px;
    padding: 0px;
}
/* Este es un id osea que tiene caracteristicas unicas
o que solo se utiliza una vez */
#titulo_principal{
    color: #f72585;
    text-align: center;
    margin: 15px;
}
h2{
    color: #3f37c9;
}
p{
    color: #457b9d;
}
/* Modificamos la division */
/* Ejmplo de clases en CSS */
.tarjeta{
    border: 10px solid #560bad;
    background-color: #f1faee;
    text-align: center;
    margin: 10px 115px;
    padding: 15px;
}
.titulo{
    color: #f72585
}