/* {
  margin: 0;
  padding: 0;
} */
h1 {
  text-align: center;
  color: #2f3a8f;
  background: #ccd1e4;
  padding: 5px;
  margin: 20px;
  border: 3px solid #2f3a8f;
  border-radius: 2px;
}
div {
  /* padding */
  padding: 10px 5px;
  border: 1px solid #fe7e6d;
  border-radius: 5px;
  /* Auto es para centrar los divs */
  margin: 20px;
  background-color: #feece9;
  text-align: center;
  /* width: 300px; */
  max-width: 3000px;
  /* max-height: 100px; */
  /* This element overlaps other elements  */
  box-sizing: border-box;
  /* outline: 3px solid #CCD1E4; 
  outline-offset: 4px;
*/} 
/* Lo que hace es sumarle el  margin al parrafo tambien */
/*p.interno{
  margin: inherit;} 
*/

.caja1{
  padding: 10px 5px;
  border: 1px solid #fe7e6d;
  border-radius: 5px;
  margin: 70px;
  background-color: #feece9;
  text-align: center;
  max-width: 300px;
  box-sizing: border-box;
}
.caja2{
  padding: 10px 5px;
  border: 1px solid #fe7e6d;
  border-radius: 5px;
  margin: 20px;
  background-color: #feece9;
  text-align: center;
  max-width: 300px;
  box-sizing: border-box;
}