h1{
    color: #f07167;
}

/*Ahora se van a configurar los colores segun los estados del link  */
/* Primero link por defecto(cuando se muestra primero */
a:link{
    color: #fb8500;
    /* Para quiter el subrayado se hace lo siguiente: */
    text-decoration: none;
}
/* Despues de darle click */
a:visited{
    color:#219ebc;
    text-decoration: none;
}
/* Cuando colocamos el pulsor sobre el link */
a:hover{
    color: #8ecae6;
    text-decoration: underline;
}
/* Cuando se le da click o estado de activo */
a:active{
    color: #023047;
    text-decoration: underline;
}