h1{
    text-align: center;
}

.rojo{
    border: 10px solid firebrick;
}
.rosa{
    border: 10px dashed rgb(255, 105, 180);
}
.amarillo{
    border: 10px double rgb(255, 215, 0);

}
.azul{
    border: 10px dotted turquoise;
}
