
h1 {
  text-align: center;
  color: #e63946;
}
.box {
  padding: 10px;
  color: white;
  width: 150px;
  height: 50px;
  text-align: center;
  margin: 5px auto;
  font-size: 10px;
  float: left;
}
.red {
  background-color: crimson;
}
.pink {
  background-color: deeppink;
}
.rgb {
  background-color: rgb(131, 56, 236);
}
.rgba{
    background-color: rgba(131,6,236,.5);
}
.hexadecimal{
    background-color: #0091ad;
}
.hexadecimal_transparent{
    background-color: #0090ada2;
}
.hsl{
    background: hsl(195, 100%, 50%);
}
.hsla{
    background-color: rgba(0, 191, 255, 0.5);
}