h1 {
  color: #1a374d;
  text-align: center;
  text-transform: capitalize;
  text-shadow: 2px 2px 2px #b1d0e0;
}


.box {
  padding: 50px;
  width: 40%;
  height: 80px;
  border-radius: 10px;
  color: white;
  text-align: center;
  margin: 10px;
  font-size: 20px;
  float: left;
}

.box.serif {
  background-color: #406882;
}

.box.sans-serif {
    background-color: #6998ab;
}
.box.monospace{
    background-color: #B1D0E0;
}

.box.cursive{
    background-color: #B1D0E0;
}

.font_times {
  font-family: "Times New Roman", Times, serif;
  font-style: normal;
  font-weight: normal;
  font-variant: small-caps;
}

.font_georgia {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: italic;
  font-weight: bold;
}

.font_arial {
  font-family: Arial, Helvetica, sans-serif;
  font-style: oblique;
  font-weight: bolder;
}
.font_verdana {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 900;
}
.font_courier{
    font-family: 'Courier New', Courier, monospace;
}

.font_lucida{
    font-family:'Lucida Handwriting', cursive;
}
